ul {
    list-style-type: none;
    display: inline-flex;
    padding: 10px;
    margin: 5px;
    width: 100%;
    text-decoration: none;
    justify-content: space-evenly;
    background: linear-gradient(to right , #00AAFF , #00ff6c);
  }